CLAUDE.md
.Rproj.user
data/et_sim.rda
.claude/settings.json
.claude
.RData
.Rhistory
.positai
ErrorTracer.Rcheck
ErrorTracer_1.0.0.tar.gz
..Rcheck/00check.log
..Rcheck/R_check_bin/R
..Rcheck/R_check_bin/Rscript
CRAN-SUBMISSION
ErrorTracer.code-workspace
revdep/