CLAUDE.md
.Rproj.user
data/et_sim.rda
.claude/settings.json
.claude
.RData
.Rhistory
.positai
ErrorTracer.Rcheck
ErrorTracer_1.0.0.tar.gz
..Rcheck/00check.log
..Rcheck/R_check_bin/R
..Rcheck/R_check_bin/Rscript
CRAN-SUBMISSION
ErrorTracer.code-workspace
revdep/data.sqlite
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/DESCRIPTION
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/LICENSE
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/NAMESPACE
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/NEWS
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/Meta/features.rds
revdep/library/ErrorTracer/old/00LOCK-stringi/00new/stringi/Meta/package.rds
revdep/library/ErrorTracer/old/generics/DESCRIPTION
revdep/library/ErrorTracer/old/generics/INDEX
revdep/library/ErrorTracer/old/generics/LICENSE
revdep/library/ErrorTracer/old/generics/NAMESPACE
revdep/library/ErrorTracer/old/generics/NEWS.md
revdep/library/ErrorTracer/old/generics/README.md
revdep/library/ErrorTracer/old/generics/help/aliases.rds
revdep/library/ErrorTracer/old/generics/help/AnIndex
revdep/library/ErrorTracer/old/generics/help/generics.rdb
revdep/library/ErrorTracer/old/generics/help/generics.rdx
revdep/library/ErrorTracer/old/generics/help/paths.rds
revdep/library/ErrorTracer/old/generics/html/00Index.html
revdep/library/ErrorTracer/old/generics/html/R.css
revdep/library/ErrorTracer/old/generics/Meta/features.rds
revdep/library/ErrorTracer/old/generics/Meta/hsearch.rds
revdep/library/ErrorTracer/old/generics/Meta/links.rds
revdep/library/ErrorTracer/old/generics/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/generics/Meta/package.rds
revdep/library/ErrorTracer/old/generics/Meta/Rd.rds
revdep/library/ErrorTracer/old/generics/R/generics
revdep/library/ErrorTracer/old/generics/R/generics.rdb
revdep/library/ErrorTracer/old/generics/R/generics.rdx
revdep/library/ErrorTracer/old/magrittr/DESCRIPTION
revdep/library/ErrorTracer/old/magrittr/INDEX
revdep/library/ErrorTracer/old/magrittr/LICENSE
revdep/library/ErrorTracer/old/magrittr/logo-hex.png
revdep/library/ErrorTracer/old/magrittr/logo-hex.svg
revdep/library/ErrorTracer/old/magrittr/logo.png
revdep/library/ErrorTracer/old/magrittr/logo.svg
revdep/library/ErrorTracer/old/magrittr/NAMESPACE
revdep/library/ErrorTracer/old/magrittr/NEWS.md
revdep/library/ErrorTracer/old/magrittr/README.md
revdep/library/ErrorTracer/old/magrittr/doc/index.html
revdep/library/ErrorTracer/old/magrittr/doc/magrittr.html
revdep/library/ErrorTracer/old/magrittr/doc/magrittr.R
revdep/library/ErrorTracer/old/magrittr/doc/magrittr.Rmd
revdep/library/ErrorTracer/old/magrittr/doc/tradeoffs.html
revdep/library/ErrorTracer/old/magrittr/doc/tradeoffs.R
revdep/library/ErrorTracer/old/magrittr/doc/tradeoffs.Rmd
revdep/library/ErrorTracer/old/magrittr/help/aliases.rds
revdep/library/ErrorTracer/old/magrittr/help/AnIndex
revdep/library/ErrorTracer/old/magrittr/help/magrittr.rdb
revdep/library/ErrorTracer/old/magrittr/help/magrittr.rdx
revdep/library/ErrorTracer/old/magrittr/help/paths.rds
revdep/library/ErrorTracer/old/magrittr/help/figures/exposition-1.png
revdep/library/ErrorTracer/old/magrittr/help/figures/logo.png
revdep/library/ErrorTracer/old/magrittr/html/00Index.html
revdep/library/ErrorTracer/old/magrittr/html/R.css
revdep/library/ErrorTracer/old/magrittr/libs/magrittr.so
revdep/library/ErrorTracer/old/magrittr/Meta/features.rds
revdep/library/ErrorTracer/old/magrittr/Meta/hsearch.rds
revdep/library/ErrorTracer/old/magrittr/Meta/links.rds
revdep/library/ErrorTracer/old/magrittr/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/magrittr/Meta/package.rds
revdep/library/ErrorTracer/old/magrittr/Meta/Rd.rds
revdep/library/ErrorTracer/old/magrittr/Meta/vignette.rds
revdep/library/ErrorTracer/old/magrittr/R/magrittr
revdep/library/ErrorTracer/old/magrittr/R/magrittr.rdb
revdep/library/ErrorTracer/old/magrittr/R/magrittr.rdx
revdep/library/ErrorTracer/old/numDeriv/DESCRIPTION
revdep/library/ErrorTracer/old/numDeriv/INDEX
revdep/library/ErrorTracer/old/numDeriv/NAMESPACE
revdep/library/ErrorTracer/old/numDeriv/NEWS
revdep/library/ErrorTracer/old/numDeriv/doc/Guide.pdf
revdep/library/ErrorTracer/old/numDeriv/doc/Guide.R
revdep/library/ErrorTracer/old/numDeriv/doc/Guide.Stex
revdep/library/ErrorTracer/old/numDeriv/doc/index.html
revdep/library/ErrorTracer/old/numDeriv/help/aliases.rds
revdep/library/ErrorTracer/old/numDeriv/help/AnIndex
revdep/library/ErrorTracer/old/numDeriv/help/numDeriv.rdb
revdep/library/ErrorTracer/old/numDeriv/help/numDeriv.rdx
revdep/library/ErrorTracer/old/numDeriv/help/paths.rds
revdep/library/ErrorTracer/old/numDeriv/html/00Index.html
revdep/library/ErrorTracer/old/numDeriv/html/R.css
revdep/library/ErrorTracer/old/numDeriv/Meta/features.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/hsearch.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/links.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/package.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/Rd.rds
revdep/library/ErrorTracer/old/numDeriv/Meta/vignette.rds
revdep/library/ErrorTracer/old/numDeriv/R/numDeriv
revdep/library/ErrorTracer/old/numDeriv/R/numDeriv.rdb
revdep/library/ErrorTracer/old/numDeriv/R/numDeriv.rdx
revdep/library/ErrorTracer/old/pkgconfig/DESCRIPTION
revdep/library/ErrorTracer/old/pkgconfig/INDEX
revdep/library/ErrorTracer/old/pkgconfig/LICENSE
revdep/library/ErrorTracer/old/pkgconfig/NAMESPACE
revdep/library/ErrorTracer/old/pkgconfig/NEWS.markdown
revdep/library/ErrorTracer/old/pkgconfig/README.markdown
revdep/library/ErrorTracer/old/pkgconfig/README.Rmd
revdep/library/ErrorTracer/old/pkgconfig/help/aliases.rds
revdep/library/ErrorTracer/old/pkgconfig/help/AnIndex
revdep/library/ErrorTracer/old/pkgconfig/help/paths.rds
revdep/library/ErrorTracer/old/pkgconfig/help/pkgconfig.rdb
revdep/library/ErrorTracer/old/pkgconfig/help/pkgconfig.rdx
revdep/library/ErrorTracer/old/pkgconfig/html/00Index.html
revdep/library/ErrorTracer/old/pkgconfig/html/R.css
revdep/library/ErrorTracer/old/pkgconfig/Meta/features.rds
revdep/library/ErrorTracer/old/pkgconfig/Meta/hsearch.rds
revdep/library/ErrorTracer/old/pkgconfig/Meta/links.rds
revdep/library/ErrorTracer/old/pkgconfig/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/pkgconfig/Meta/package.rds
revdep/library/ErrorTracer/old/pkgconfig/Meta/Rd.rds
revdep/library/ErrorTracer/old/pkgconfig/R/pkgconfig
revdep/library/ErrorTracer/old/pkgconfig/R/pkgconfig.rdb
revdep/library/ErrorTracer/old/pkgconfig/R/pkgconfig.rdx
revdep/library/ErrorTracer/old/ps/DESCRIPTION
revdep/library/ErrorTracer/old/ps/INDEX
revdep/library/ErrorTracer/old/ps/internals.md
revdep/library/ErrorTracer/old/ps/LICENSE
revdep/library/ErrorTracer/old/ps/NAMESPACE
revdep/library/ErrorTracer/old/ps/NEWS.md
revdep/library/ErrorTracer/old/ps/README.md
revdep/library/ErrorTracer/old/ps/WORDLIST
revdep/library/ErrorTracer/old/ps/bin/px
revdep/library/ErrorTracer/old/ps/help/aliases.rds
revdep/library/ErrorTracer/old/ps/help/AnIndex
revdep/library/ErrorTracer/old/ps/help/paths.rds
revdep/library/ErrorTracer/old/ps/help/ps.rdb
revdep/library/ErrorTracer/old/ps/help/ps.rdx
revdep/library/ErrorTracer/old/ps/html/00Index.html
revdep/library/ErrorTracer/old/ps/html/R.css
revdep/library/ErrorTracer/old/ps/libs/ps.so
revdep/library/ErrorTracer/old/ps/Meta/features.rds
revdep/library/ErrorTracer/old/ps/Meta/hsearch.rds
revdep/library/ErrorTracer/old/ps/Meta/links.rds
revdep/library/ErrorTracer/old/ps/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/ps/Meta/package.rds
revdep/library/ErrorTracer/old/ps/Meta/Rd.rds
revdep/library/ErrorTracer/old/ps/R/ps
revdep/library/ErrorTracer/old/ps/R/ps.rdb
revdep/library/ErrorTracer/old/ps/R/ps.rdx
revdep/library/ErrorTracer/old/ps/tools/error-codes.R
revdep/library/ErrorTracer/old/ps/tools/winver.R
revdep/library/ErrorTracer/old/utf8/DESCRIPTION
revdep/library/ErrorTracer/old/utf8/INDEX
revdep/library/ErrorTracer/old/utf8/LICENSE
revdep/library/ErrorTracer/old/utf8/NAMESPACE
revdep/library/ErrorTracer/old/utf8/NEWS.md
revdep/library/ErrorTracer/old/utf8/README.md
revdep/library/ErrorTracer/old/utf8/doc/index.html
revdep/library/ErrorTracer/old/utf8/doc/utf8.html
revdep/library/ErrorTracer/old/utf8/doc/utf8.Rmd
revdep/library/ErrorTracer/old/utf8/help/aliases.rds
revdep/library/ErrorTracer/old/utf8/help/AnIndex
revdep/library/ErrorTracer/old/utf8/help/paths.rds
revdep/library/ErrorTracer/old/utf8/help/utf8.rdb
revdep/library/ErrorTracer/old/utf8/help/utf8.rdx
revdep/library/ErrorTracer/old/utf8/html/00Index.html
revdep/library/ErrorTracer/old/utf8/html/R.css
revdep/library/ErrorTracer/old/utf8/libs/utf8.so
revdep/library/ErrorTracer/old/utf8/Meta/features.rds
revdep/library/ErrorTracer/old/utf8/Meta/hsearch.rds
revdep/library/ErrorTracer/old/utf8/Meta/links.rds
revdep/library/ErrorTracer/old/utf8/Meta/nsInfo.rds
revdep/library/ErrorTracer/old/utf8/Meta/package.rds
revdep/library/ErrorTracer/old/utf8/Meta/Rd.rds
revdep/library/ErrorTracer/old/utf8/Meta/vignette.rds
revdep/library/ErrorTracer/old/utf8/R/utf8
revdep/library/ErrorTracer/old/utf8/R/utf8.rdb
revdep/library/ErrorTracer/old/utf8/R/utf8.rdx
